<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
    if (document.getElementById("table")) {
        document.addEventListener("DOMContentLoaded", function() {
            new DataTable('#table');
        });
    }
</script>
<script>
    let urlParams = new URLSearchParams(window.location.search);
    let msg = urlParams.get('message');
    if (urlParams.get('status') == 'false') {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: `${msg}`,
            footer: 'Tüm Hakları Saklıdır.',
            confirmButtonText: 'Tamam',
            timer: 5000
        }).then((result) => {
            window.location.href = window.location.href.split('?')[0];
        });
    }
    if (urlParams.get('status') == 'true') {
        Swal.fire({
            icon: 'success',
            title: 'Başarılı',
            text: `${msg}`,
            footer: 'Tüm Hakları Saklıdır.',
            confirmButtonText: 'Anlaşıldı',
            timer: 3000
        }).then((result) => {
            window.location.href = window.location.href.split('?')[0];
        });
    }
</script>
</body>

</html>